@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    font-family: "Lora", serif;
}

.head {
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        background: #111;
        color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 20px;
        z-index: 9999;
}

.links a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.logo img {
    height: 80px;
    border-radius: 50% 50%;
}


@media screen and (max-width: 500px) {
.links a {
        color: white;
        margin: 15px;
        text-decoration: none;
        font-size: 18px;
    }
 
.head {
    overflow: hidden;
    padding: 0px;
    position: fixed;
}

}