html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    text-align: center;
}

.hero {
    margin-top: 120px;
    background-image: url(./assets/bannerimg.svg);
    background-size: 100%;
    height: 200px;
    background-repeat: no-repeat;
    color: rgb(255, 240, 240);
}
.hero-heading {
    padding: 40px 350px 40px 40px;
        color: #fff;
        text-shadow:
                2px 2px 6px rgba(0, 0, 0, 0.9),
                -1px -1px 4px rgba(0, 0, 0, 0.6);
}

.home-1 {
    display: flex;
    width: 100%;
   align-items: center;
   margin: 15px;
}

.main-content {
    margin-top: 90px;
}
.hero-para,
.home-bike {
    flex: 0 0 auto;
}

.hero-para {
    width: 70%;
    font-size: 25px;
    text-align: justify;
    font-weight: 500;
    align-items: center;
}

.home-bike {
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.08), transparent 70%)
}
h1 {
    text-decoration: underline;
    margin: 15px;
}

.home-bike img {
    width: 400px;
    z-index: -1;
    opacity: 0.3;
}

.home-access img {
    width: 380px;
        border-radius: 15px;
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.home-2 {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 15px;
}

.main-list {
    font-size: 25px;
    text-align: justify;
    margin: 25px;
}

.main-footer {
    background-image: url(./assets/newfooter.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.footer-logo img {
    height: 100px;
    position: absolute;
    border-radius: 50% 50%;
    left: 0;
    margin-top: 210px;
    margin-left: 175px;
}

.main-footer .footer-text {
    font-size: 25px;
    font-weight: bold;
    margin-right: 400px;
    padding-top: 225px;
        color: #fff;
            text-shadow:
                2px 2px 6px rgba(0, 0, 0, 0.9),
                -1px -1px 4px rgba(0, 0, 0, 0.6);
    
}

@media screen and (max-width: 500px) {

.home-access {
    display: flex;
    justify-content: center;
    align-items: center;
    }
.home-access img {
    width: 340px;
    display: block;
    margin: 0 auto;
}
.hero {
    background-image: url(./assets/mediabanner.svg);
    height: 200px;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
}
.hero-heading {
    color: #fff;
        text-shadow:
            2px 2px 6px rgba(0, 0, 0, 0.9),
            -1px -1px 4px rgba(0, 0, 0, 0.6);
}

.home-1 {
    display: block;
    width: 100%;
    margin: 0;
}

.home-1 .hero-para {
    width: 94%;
    padding: 0;
    display: block;
    margin-top: 10px;
    text-align: justify;
    font-weight: 500;
    font-size: 17px;
    margin: 10px;
    box-sizing: border-box;
}

.home-2 {
    display: block;
}

.main-list {
    font-size: 18px;
    text-align: justify;
    margin: 5px;
}

.main-footer {
    background-image: url(./assets/mediafooterimg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 320px;
    bottom: 0;
}


.main-footer .footer-text {
    font-size: 15px;
    font-weight: bold;
    margin-right: 150px;
    padding-top: 235px;
        color: #fff;
            text-shadow:
                2px 2px 6px rgba(0, 0, 0, 0.9),
                -1px -1px 4px rgba(0, 0, 0, 0.6);
}

.footer-logo img {
    height: 60px;
    position: absolute;
    border-radius: 50% 50%;
    left: 0;
    margin-top: 180px;
    margin-left: 75px;
}

}